.app {
  position: relative;
  text-align: center;
  background-color: #199FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.spinner {
  top: -35px;
  position:relative;

  .spinnerInner,
  .spinnerInner::before,
  .spinnerInner::after {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	border: 1px solid rgba(20,20,20,.2);
  	border-left-color: rgb(255,255,255);
  	border-radius: 974px;
  }

  .spinnerInner {
    margin: -25px 0 0 -25px;
  	height: 50px;
  	width: 50px;
  	animation: spinner-whirlpool 1700ms linear infinite;
  }

  .spinnerInner::before {
  	content: "";
  	margin: -22px 0 0 -22px;
  	height: 42px;
  	width: 42px;
  	animation: spinner-whirlpool 1700ms linear infinite;
  }

  .spinnerInner::after {
  	content: "";
  	margin: -28px 0 0 -28px;
  	height: 54px;
  	width: 54px;
  	animation: spinner-whirlpool 3200ms linear infinite;
  }

  @keyframes spinner-whirlpool {
  	100% {
  		transform: rotate(360deg);
  	}
  }
}
