$tabletMin: 768px;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

html, body, .app {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FEFEFE;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100%;

  @media (min-width: $tabletMin) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  color: white;
  background: #199FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);

  transition: left 0.3s;

  @media (min-width: $tabletMin) {
    left: 300px;
    width: calc(100% - 300px);
  }

  button {
    &.fa {
      height: 100%;
      font-size: 40px;
      margin: 0 0 0 3px;
      color: white;
      float: left;

      // Fix padding in iOS Safari
      width: 1em;
      padding: 0;

      // Reset button styles in desktop
      background: none;
      border: 0;

      &:hover {
        cursor: pointer;
      }

      @media (min-width: $tabletMin) {
        display: none;
      }
    }

    &.fa-times-circle-o {
      position: absolute;
      left: -1.3em;
      color: #222;
    }
  }

  .logo {
    display: inline-block;
    position: relative;
    margin: 17px 0 0 10px;

    @media (min-width: $tabletMin) {
      margin-left: 20px;
    }

    h1 {
      float: left;
      font-size: 1.5em;
      display: inline-block;
      margin: 0;

      span {
        font-weight: 300;
        position: relative;
      }
    }
  }

  h2 {
    float: right;
    font-size: .8em;
    display: inline-block;
    margin: 28px 20px 0 0;
    font-weight: 300;
    text-shadow: none;
    opacity: 0.7;
    font-style: italic;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-weight: 700;
      margin: 0 1px;
    }
  }
}

.info {
  width: 100%;
  position: absolute;
  right: 100%;
  z-index: 10;
  background: #EFEFEF;
  color: #2A2A2A;
  padding: 20px 20px 20px 20px;
  min-height: 100%;

  // Flex
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: right 0.3s;

  a {
    text-decoration: none;
    color: #199FFF;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: $tabletMin) {
    right: 0;
    position: relative;
    flex: 1 0 300px;
  }
}

#root {
  padding-top: 60px;

  @media (min-width: $tabletMin) {
    flex: 1 1 100%;
    overflow: hidden;
  }
}

.container.show-menu {
  overflow: hidden;

  .main-nav {
    left: 100%;
  }

  .info {
    right: 0;
  }
}
